---
// biome-ignore lint/correctness/noUnusedImports: it is being used !
// biome-ignore assist/source/organizeImports: Import the `<StarlightPage>` component first to set up cascade layers.
import StarlightPage from '@astrojs/starlight/components/StarlightPage.astro'
import { getCollection } from 'astro:content'
import { LINKS } from '~/constants/links'

const snippets = await getCollection('snippets')
---

<StarlightPage frontmatter={{ title: 'Snippets' }}>
  <ul>
    {
      snippets.map(({ id, data }) => (
        <li>
          <a href={LINKS.snippets(id)}>{data.title}</a>
        </li>
      ))
    }
  </ul>
</StarlightPage>
