/* This is an awesome color palette generously provided by fchristant:
 * https://github.com/fchristant/colar 
 */

:where(html) {
  --gray-0: hsl(210deg 17% 98%);
  --gray-1: hsl(210deg 17% 95%);
  --gray-2: hsl(210deg 16% 93%);
  --gray-3: hsl(210deg 14% 89%);
  --gray-4: hsl(210deg 14% 83%);
  --gray-5: hsl(210deg 11% 71%);
  --gray-6: hsl(210deg 7% 56%);
  --gray-7: hsl(210deg 9% 31%);
  --gray-8: hsl(210deg 10% 23%);
  --gray-9: hsl(210deg 11% 15%);
  --gray-10: hsl(214deg 14% 10%);
  --gray-11: hsl(216deg 16% 6%);
  --gray-12: hsl(210deg 40% 2%);
  --stone-0: hsl(200deg 27% 98%);
  --stone-1: hsl(210deg 18% 96%);
  --stone-2: hsl(210deg 11% 93%);
  --stone-3: hsl(192deg 9% 89%);
  --stone-4: hsl(197deg 8% 83%);
  --stone-5: hsl(202deg 5% 71%);
  --stone-6: hsl(200deg 3% 60%);
  --stone-7: hsl(180deg 2% 50%);
  --stone-8: hsl(160deg 1% 41%);
  --stone-9: hsl(90deg 1% 31%);
  --stone-10: hsl(60deg 3% 22%);
  --stone-11: hsl(60deg 6% 14%);
  --stone-12: hsl(60deg 6% 7%);
  --red-0: hsl(0deg 100% 98%);
  --red-1: hsl(0deg 100% 95%);
  --red-2: hsl(0deg 100% 89%);
  --red-3: hsl(0deg 100% 83%);
  --red-4: hsl(0deg 100% 76%);
  --red-5: hsl(0deg 100% 71%);
  --red-6: hsl(0deg 94% 65%);
  --red-7: hsl(0deg 86% 59%);
  --red-8: hsl(0deg 74% 54%);
  --red-9: hsl(0deg 65% 48%);
  --red-10: hsl(0deg 65% 42%);
  --red-11: hsl(0deg 65% 36%);
  --red-12: hsl(0deg 66% 30%);
  --pink-0: hsl(336deg 100% 97%);
  --pink-1: hsl(336deg 100% 94%);
  --pink-2: hsl(338deg 91% 87%);
  --pink-3: hsl(339deg 90% 81%);
  --pink-4: hsl(339deg 88% 74%);
  --pink-5: hsl(339deg 82% 67%);
  --pink-6: hsl(339deg 76% 59%);
  --pink-7: hsl(339deg 67% 52%);
  --pink-8: hsl(339deg 68% 45%);
  --pink-9: hsl(339deg 69% 38%);
  --pink-10: hsl(339deg 70% 32%);
  --pink-11: hsl(339deg 69% 27%);
  --pink-12: hsl(339deg 70% 21%);
  --purple-0: hsl(280deg 67% 96%);
  --purple-1: hsl(287deg 77% 92%);
  --purple-2: hsl(288deg 86% 86%);
  --purple-3: hsl(289deg 85% 78%);
  --purple-4: hsl(288deg 83% 71%);
  --purple-5: hsl(288deg 75% 64%);
  --purple-6: hsl(288deg 67% 58%);
  --purple-7: hsl(288deg 56% 52%);
  --purple-8: hsl(288deg 54% 46%);
  --purple-9: hsl(288deg 54% 40%);
  --purple-10: hsl(288deg 55% 33%);
  --purple-11: hsl(288deg 56% 26%);
  --purple-12: hsl(288deg 55% 20%);
  --violet-0: hsl(252deg 100% 97%);
  --violet-1: hsl(257deg 100% 93%);
  --violet-2: hsl(256deg 100% 87%);
  --violet-3: hsl(255deg 94% 79%);
  --violet-4: hsl(255deg 93% 72%);
  --violet-5: hsl(255deg 91% 67%);
  --violet-6: hsl(255deg 86% 63%);
  --violet-7: hsl(255deg 78% 60%);
  --violet-8: hsl(255deg 67% 55%);
  --violet-9: hsl(255deg 53% 50%);
  --violet-10: hsl(255deg 53% 44%);
  --violet-11: hsl(255deg 53% 37%);
  --violet-12: hsl(255deg 53% 31%);
  --indigo-0: hsl(223deg 100% 96%);
  --indigo-1: hsl(225deg 100% 93%);
  --indigo-2: hsl(228deg 100% 86%);
  --indigo-3: hsl(228deg 100% 78%);
  --indigo-4: hsl(228deg 96% 72%);
  --indigo-5: hsl(228deg 94% 67%);
  --indigo-6: hsl(228deg 89% 63%);
  --indigo-7: hsl(228deg 81% 59%);
  --indigo-8: hsl(228deg 69% 55%);
  --indigo-9: hsl(230deg 57% 50%);
  --indigo-10: hsl(230deg 57% 43%);
  --indigo-11: hsl(230deg 57% 37%);
  --indigo-12: hsl(230deg 57% 30%);
  --blue-0: hsl(205deg 100% 95%);
  --blue-1: hsl(206deg 100% 91%);
  --blue-2: hsl(206deg 100% 82%);
  --blue-3: hsl(206deg 96% 72%);
  --blue-4: hsl(207deg 91% 64%);
  --blue-5: hsl(207deg 86% 57%);
  --blue-6: hsl(208deg 80% 52%);
  --blue-7: hsl(208deg 77% 47%);
  --blue-8: hsl(209deg 77% 43%);
  --blue-9: hsl(209deg 75% 38%);
  --blue-10: hsl(209deg 76% 32%);
  --blue-11: hsl(209deg 75% 27%);
  --blue-12: hsl(209deg 76% 21%);
  --cyan-0: hsl(185deg 81% 94%);
  --cyan-1: hsl(185deg 84% 88%);
  --cyan-2: hsl(186deg 77% 77%);
  --cyan-3: hsl(187deg 74% 65%);
  --cyan-4: hsl(187deg 69% 55%);
  --cyan-5: hsl(188deg 72% 47%);
  --cyan-6: hsl(187deg 80% 42%);
  --cyan-7: hsl(188deg 83% 37%);
  --cyan-8: hsl(189deg 85% 32%);
  --cyan-9: hsl(189deg 85% 28%);
  --cyan-10: hsl(189deg 84% 23%);
  --cyan-11: hsl(190deg 84% 17%);
  --cyan-12: hsl(189deg 84% 12%);
  --teal-0: hsl(161deg 79% 95%);
  --teal-1: hsl(160deg 85% 87%);
  --teal-2: hsl(162deg 78% 77%);
  --teal-3: hsl(162deg 72% 65%);
  --teal-4: hsl(162deg 68% 54%);
  --teal-5: hsl(162deg 73% 46%);
  --teal-6: hsl(162deg 82% 40%);
  --teal-7: hsl(162deg 87% 35%);
  --teal-8: hsl(162deg 88% 30%);
  --teal-9: hsl(162deg 88% 26%);
  --teal-10: hsl(162deg 89% 21%);
  --teal-11: hsl(162deg 88% 16%);
  --teal-12: hsl(163deg 89% 11%);
  --green-0: hsl(131deg 67% 95%);
  --green-1: hsl(128deg 76% 90%);
  --green-2: hsl(128deg 71% 82%);
  --green-3: hsl(129deg 68% 73%);
  --green-4: hsl(130deg 61% 64%);
  --green-5: hsl(130deg 57% 56%);
  --green-6: hsl(131deg 50% 50%);
  --green-7: hsl(131deg 53% 46%);
  --green-8: hsl(131deg 54% 40%);
  --green-9: hsl(132deg 52% 35%);
  --green-10: hsl(132deg 52% 29%);
  --green-11: hsl(132deg 53% 22%);
  --green-12: hsl(131deg 53% 16%);
  --lime-0: hsl(79deg 81% 94%);
  --lime-1: hsl(80deg 83% 88%);
  --lime-2: hsl(81deg 81% 80%);
  --lime-3: hsl(82deg 75% 69%);
  --lime-4: hsl(83deg 73% 59%);
  --lime-5: hsl(84deg 69% 51%);
  --lime-6: hsl(85deg 74% 45%);
  --lime-7: hsl(85deg 79% 40%);
  --lime-8: hsl(86deg 84% 36%);
  --lime-9: hsl(85deg 84% 32%);
  --lime-10: hsl(85deg 83% 26%);
  --lime-11: hsl(85deg 83% 21%);
  --lime-12: hsl(85deg 84% 15%);
  --yellow-0: hsl(50deg 100% 93%);
  --yellow-1: hsl(49deg 100% 87%);
  --yellow-2: hsl(49deg 100% 80%);
  --yellow-3: hsl(48deg 100% 70%);
  --yellow-4: hsl(47deg 100% 62%);
  --yellow-5: hsl(45deg 97% 54%);
  --yellow-6: hsl(42deg 96% 50%);
  --yellow-7: hsl(39deg 100% 48%);
  --yellow-8: hsl(35deg 100% 47%);
  --yellow-9: hsl(31deg 100% 45%);
  --yellow-10: hsl(31deg 100% 35%);
  --yellow-11: hsl(31deg 100% 25%);
  --yellow-12: hsl(31deg 100% 20%);
  --orange-0: hsl(34deg 100% 95%);
  --orange-1: hsl(33deg 100% 90%);
  --orange-2: hsl(33deg 100% 83%);
  --orange-3: hsl(32deg 100% 74%);
  --orange-4: hsl(31deg 100% 65%);
  --orange-5: hsl(29deg 100% 58%);
  --orange-6: hsl(27deg 98% 54%);
  --orange-7: hsl(24deg 94% 50%);
  --orange-8: hsl(21deg 90% 48%);
  --orange-9: hsl(17deg 87% 45%);
  --orange-10: hsl(17deg 87% 40%);
  --orange-11: hsl(17deg 87% 32%);
  --orange-12: hsl(17deg 87% 27%);
  --choco-0: hsl(48deg 100% 93%);
  --choco-1: hsl(35deg 91% 86%);
  --choco-2: hsl(30deg 85% 79%);
  --choco-3: hsl(27deg 80% 72%);
  --choco-4: hsl(25deg 75% 65%);
  --choco-5: hsl(25deg 71% 57%);
  --choco-6: hsl(25deg 70% 49%);
  --choco-7: hsl(25deg 75% 42%);
  --choco-8: hsl(25deg 75% 37%);
  --choco-9: hsl(25deg 76% 31%);
  --choco-10: hsl(25deg 71% 26%);
  --choco-11: hsl(25deg 66% 21%);
  --choco-12: hsl(25deg 65% 15%);
  --brown-0: hsl(36deg 60% 95%);
  --brown-1: hsl(32deg 44% 87%);
  --brown-2: hsl(28deg 40% 80%);
  --brown-3: hsl(28deg 38% 72%);
  --brown-4: hsl(27deg 36% 65%);
  --brown-5: hsl(28deg 34% 57%);
  --brown-6: hsl(28deg 32% 50%);
  --brown-7: hsl(28deg 35% 43%);
  --brown-8: hsl(28deg 38% 37%);
  --brown-9: hsl(27deg 42% 31%);
  --brown-10: hsl(25deg 48% 25%);
  --brown-11: hsl(23deg 58% 19%);
  --brown-12: hsl(22deg 57% 16%);
  --sand-0: hsl(200deg 27% 98%);
  --sand-1: hsl(48deg 17% 88%);
  --sand-2: hsl(45deg 22% 79%);
  --sand-3: hsl(44deg 22% 69%);
  --sand-4: hsl(44deg 17% 62%);
  --sand-5: hsl(44deg 14% 54%);
  --sand-6: hsl(42deg 14% 46%);
  --sand-7: hsl(43deg 16% 39%);
  --sand-8: hsl(41deg 15% 32%);
  --sand-9: hsl(43deg 14% 26%);
  --sand-10: hsl(44deg 11% 20%);
  --sand-11: hsl(60deg 6% 14%);
  --sand-12: hsl(60deg 6% 7%);
  --camo-0: hsl(66deg 71% 95%);
  --camo-1: hsl(64deg 69% 77%);
  --camo-2: hsl(65deg 69% 59%);
  --camo-3: hsl(65deg 61% 51%);
  --camo-4: hsl(63deg 61% 46%);
  --camo-5: hsl(60deg 62% 41%);
  --camo-6: hsl(59deg 65% 36%);
  --camo-7: hsl(56deg 67% 33%);
  --camo-8: hsl(54deg 70% 29%);
  --camo-9: hsl(54deg 69% 25%);
  --camo-10: hsl(53deg 69% 22%);
  --camo-11: hsl(53deg 69% 18%);
  --camo-12: hsl(52deg 69% 13%);
  --jungle-0: hsl(74deg 98% 84%);
  --jungle-1: hsl(74deg 79% 78%);
  --jungle-2: hsl(74deg 68% 71%);
  --jungle-3: hsl(75deg 62% 65%);
  --jungle-4: hsl(74deg 56% 59%);
  --jungle-5: hsl(74deg 53% 53%);
  --jungle-6: hsl(74deg 55% 47%);
  --jungle-7: hsl(74deg 66% 42%);
  --jungle-8: hsl(74deg 79% 36%);
  --jungle-9: hsl(73deg 90% 32%);
  --jungle-10: hsl(73deg 91% 26%);
  --jungle-11: hsl(73deg 91% 21%);
  --jungle-12: hsl(73deg 90% 16%);
}
