:where(html) {
  --font-system-ui: system-ui, sans-serif;
  --font-transitional: charter, bitstream charter, sitka text, cambria, serif;
  --font-old-style:
    iowan old style, palatino linotype, urw palladio l, p052, serif;
  --font-humanist:
    seravek, gill sans nova, ubuntu, calibri, dejavu sans, source-sans-pro,
    sans-serif;
  --font-geometric-humanist:
    avenir, montserrat, corbel, urw gothic, source-sans-pro, sans-serif;
  --font-classical-humanist:
    optima, candara, noto sans, source-sans-pro, sans-serif;
  --font-neo-grotesque:
    inter, roboto, helvetica neue, arial nova, nimbus sans, arial, sans-serif;
  --font-monospace-slab-serif: nimbus mono ps, courier new, monospace;
  --font-monospace-code:
    dank mono, operator mono, inconsolata, fira mono, ui-monospace, sf mono, monaco, droid sans mono, source code pro, cascadia code, menlo, consolas, dejavu sans mono, monospace;
  --font-industrial:
    bahnschrift, din alternate, franklin gothic medium, nimbus sans narrow,
    sans-serif-condensed, sans-serif;
  --font-rounded-sans:
    ui-rounded, hiragino maru gothic pron, quicksand, comfortaa, manjari, arial rounded mt, arial rounded mt bold, calibri, source-sans-pro, sans-serif;
  --font-slab-serif:
    rockwell, rockwell nova, roboto slab, dejavu serif, sitka small, serif;
  --font-antique:
    superclarendon, bookman old style, urw bookman, urw bookman l, georgia pro,
    georgia, serif;
  --font-didone:
    didot, bodoni mt, noto serif display, urw palladio l, p052, sylfaen, serif;
  --font-handwritten:
    segoe print, bradley hand, chilanka, tscu_comic, casual, cursive;
  --font-sans: var(--font-system-ui);
  --font-serif: ui-serif, serif;
  --font-mono: var(--font-monospace-code);
  --font-weight-1: 100;
  --font-weight-2: 200;
  --font-weight-3: 300;
  --font-weight-4: 400;
  --font-weight-5: 500;
  --font-weight-6: 600;
  --font-weight-7: 700;
  --font-weight-8: 800;
  --font-weight-9: 900;
  --font-lineheight-00: 0.95;
  --font-lineheight-0: 1.1;
  --font-lineheight-1: 1.25;
  --font-lineheight-2: 1.375;
  --font-lineheight-3: 1.5;
  --font-lineheight-4: 1.75;
  --font-lineheight-5: 2;
  --font-letterspacing-0: -0.05em;
  --font-letterspacing-1: 0.025em;
  --font-letterspacing-2: 0.05em;
  --font-letterspacing-3: 0.075em;
  --font-letterspacing-4: 0.15em;
  --font-letterspacing-5: 0.5em;
  --font-letterspacing-6: 0.75em;
  --font-letterspacing-7: 1em;
  --font-size-00: 0.5rem;
  --font-size-0: 0.75rem;
  --font-size-1: 1rem;
  --font-size-2: 1.1rem;
  --font-size-3: 1.25rem;
  --font-size-4: 1.5rem;
  --font-size-5: 2rem;
  --font-size-6: 2.5rem;
  --font-size-7: 3rem;
  --font-size-8: 3.5rem;
  --font-size-fluid-0: clamp(0.75rem, 2vw, 1rem);
  --font-size-fluid-1: clamp(1rem, 4vw, 1.5rem);
  --font-size-fluid-2: clamp(1.5rem, 6vw, 2.5rem);
  --font-size-fluid-3: clamp(2rem, 9vw, 3.5rem);
}
