/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.hero-banner {
  position: relative;
  overflow: hidden;
  text-align: center;
  padding-block: 4rem;
  padding-inline: 0;
}

@media screen and (width <= 996px) {
  .hero-banner {
    padding: 2rem;
  }
}
