/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: hsl(150deg 80% 20%);
  --ifm-color-primary-dark: hsl(150deg 80% 18%);
  --ifm-color-primary-darker: hsl(150deg 81% 17%);
  --ifm-color-primary-darkest: hsl(151deg 80% 14%);
  --ifm-color-primary-light: hsl(150deg 80% 22%);
  --ifm-color-primary-lighter: hsl(150deg 80% 23%);
  --ifm-color-primary-lightest: hsl(150deg 80% 26%);
  --docusaurus-highlighted-code-line-bg: hsl(0deg 0% 0% / 10%);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: hsl(311deg 68% 65%);
  --ifm-color-primary-dark: hsl(311deg 68% 58%);
  --ifm-color-primary-darker: hsl(311deg 68% 55%);
  --ifm-color-primary-darkest: hsl(311deg 67% 45%);
  --ifm-color-primary-light: hsl(311deg 67% 71%);
  --ifm-color-primary-lighter: hsl(311deg 67% 75%);
  --ifm-color-primary-lightest: hsl(311deg 67% 84%);
  --docusaurus-highlighted-code-line-bg: hsl(0deg 0% 0% / 30%);
}
